*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: none;
  max-width: 100%;
  font-size: 1.3rem;
  background-color: #d2edfc;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: (--scroll-padding, 100px);
}


/* pause and play btn */
.fa-circle-play{
  cursor: pointer;
  color: #605959;
  padding-left: 1rem;
  position: fixed;
  bottom: 20px;
}

.fa-circle-playAudio{
  opacity: 0.90;
}

/*scrollbar*/
::-webkit-scrollbar {
  width: 0.7em;
}
::-webkit-scrollbar-track {
  background: antiquewhite;
}
::-webkit-scrollbar-thumb {
  background: #ffe170;
}

/* home page */

.home-container {
  width: 100vw;
  height: 18vh;
  margin: 0 auto;
}
.main {
  height: 100vh;
}

/* nav bar */
.home-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
}

.logo {
  width: 3em;
  height: 3em;
  margin-left: 2.5rem;
  margin-right: 3.5rem;
}

/* .icon{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
} */

.nav-links {
  height: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.nav__list {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.nav__item {
  display: flex;
  flex-direction: row;
  padding: 0.8rem;
  padding-right: 3rem;
  /* padding-right: 9rem; */
}

.nav__link {
  text-decoration: none;
  font-size: initial;
  font-family: 'Carter One', cursive;
  color: #FF9F9F;
  font-weight: bold;
}
.nav__link:hover {
  opacity: 0.75;
}


/* hero-top */

.hero {
  background-color: #d2edfc;
  /* padding-bottom: 5em; */
}

.hero-top{
  padding-bottom: 7em;
}

.hero-title {
 margin-bottom: 0;
}


/* activities section on home page */

.activities-h2{
  display: flex;
  justify-content: flex-end;
  font-family: caveat brush;
  color: #fff;
  font-size: 2em;
  margin:inherit;
}

.activities-content{
  background: #9774c3;
  border-top: solid 5px #ffe070;
  /* padding: 1rem; */
  padding: 1em 3em 1em 3em;
  font-family: 'Carter One', cursive;

}

.content-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.content-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-section{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.content-section p {
  text-align: end;
  width: 50%;
  line-height: 2rem;
  color: #fff;
  padding: inherit;
}


.content-section > p{
  text-align: end;
  width: 50%;
  line-height: 2.5rem;
  color: #fff;
  padding: inherit;
  font-family: 'Carter One', cursive;
  font-size: larger;
}

.btn{
  display: flex;
  padding: 7px;
  font-family: 'Carter One', cursive;
  text-transform: uppercase;
  background: #ff9f9f;
  color: #fff;
  font-size: medium;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover{
  background:#f99292;
}

/* mindfulness section on home page */

.mindfulness-h2{
  font-family: caveat brush;
  color: #fff;
  font-size: 2em;
  margin:inherit;
}

.mindfulness-content{
  background: #ff9f9f;
  padding: 1em 3em 1em 3em;
  border-top: solid 5px #ffe070;
}

.mindfulness-content-container{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

.mindfulness-p{
  flex-direction: column;
}

.mindfulness-p > p{
  width: 50%;
  line-height: 2.5rem;
  color: #fff;
  padding: inherit;
  font-family: 'Carter One', cursive;
  font-size: larger;
}

.mindfulness-btn{
  display: flex;
  padding: 7px;
  font-family: 'Carter One', cursive;
  text-transform: uppercase;
  background: #9774c3;;
  color: #fff;
  font-size: medium;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.mindfulness-btn:hover{
  background: #8364a8;
}

/* tracker section on home page */

.tracker-h2{
  display: flex;
  justify-content: flex-end;
  font-family: caveat brush;
  color: #fff;
  font-size: 2em;
  margin:inherit;
}

.tracker-content{
  background: #9774c3;
  border-top: solid 5px #ffe070;
  /* padding: 1rem; */
  padding:  1em 3em 1em 3em;
}

.containerImg > img {
  width: 80%;
  margin: 6rem 5rem 5rem 5rem ;
  max-height: 100%;
  padding: auto;
  box-shadow: 1px 1px 2rem rgb(0 0 0 / 30%);
}

.container {
  /* width: 90vw; */
  margin: 0 auto;
}

.hero-top{
  display: flex;
}

.hero__text{
  font-family: 'Carter One', cursive;
  width: 50%;
  margin: 8rem 0 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2em;
}

.hero h1 {
  font-family: caveat brush;
  margin-top: 0%;
  font-size: 3em;
}

.hero-bottom img {
  width: 13em;
  height: 11em;
}

 /* activities page */

.activities {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.activities-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25rem;
  padding-top: 2.5rem;
  background: #d2edfc;
}

.headings-container {
  display: flex;
  padding: 3rem;
  background: linear-gradient(10deg, #9774c3, #ff9f9f);
  flex-direction: column;
  align-items: center;
  border: solid 0px white;
  box-shadow: 1px 1px 2rem rgb(0 0 0 / 30%);
  border-radius: 1rem;
}

.headings {
  margin-top: 0;
  margin-bottom: 1rem;
  color: white;
  font-family: 'Carter One', cursive;
  font-size: xx-large;
}

.activities-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #9774c3;
  padding-top: 5rem;
}

span {
  content: "\2192";
  font-size: xxx-large;
}

.number {
  height: 110px;
  width: 110px;
  background: linear-gradient(10deg, #9774c3, #ff9f9f);
  box-shadow: 1px 1px 2rem rgb(0 0 0 / 30%);
  border-radius: 100%;
  position: absolute;
  left: -10%;
  top: -13%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scene {
  width: 20rem;
  height: 20rem;
  margin: 3rem;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.face {
  position: absolute;
  font-family: 'Carter One', cursive;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  backface-visibility: hidden;
}

.front {
  background-color: #ff9f9f;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.back {
  background-color: #ff9f9f;
  transform: rotateY(180deg);
  font-size: larger;
  border-radius: 2rem;
  line-height: 2.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ul {
  padding: 3rem;
  font-size: large;
  text-align: left;
}

.hydrated {
  font-size: larger;
  padding: 1rem;
}

.prompts-back {
  line-height: 1.7rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fa-solid {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Font Awesome 6 Free";
  font-size: xx-large;
}

/* about page */

.about-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d3ecfc;
}

.about-header-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-header-content > p {
  text-align: center;
    padding: 0 11rem 1rem 11rem;
    line-height: 3rem;
    color: #9774c3;
    font-family: 'Carter One', cursive;
    font-weight: 900;
    font-size: xx-large;
}

.about-content {
 width: 90%;
 padding-left: 3em;
}

.about-title{
  display: flex;
  margin: 0px auto;
  padding-top: 1rem;
  font-family: "caveat brush";
  font-size: 3em;
  justify-content: center;
}

.about_img{
  max-width: fit-content;
  max-height: 21rem;
}

.about-content-container{
  display: flex;
  justify-content: center;
}

.services{
  background: #9774c3;
  padding-top: 2rem;
}

.services-container{
  display: flex;
  padding-bottom: 2rem;
}

.services-title{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin: auto;
  font-family: 'Caveat Brush';
  font-size: xxx-large;
  color: #d3ebfc;
}

.services-about{
  display: flex;
  margin: inherit;
  padding-top: 2rem;
  color: white;
  align-items: center;
  flex-direction: column;
}

.services-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;  
  color: #d3ebfc;
  font-family: 'Carter One', cursive;
  font-size: larger;
}

.services-info > p{
  text-align: center;
}



/* mindfulness page */
.mindBody{
  overflow:auto
}

.container__video{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  align-items: flex-start;
  padding: 1rem 0.4rem;
  background: #ff9f9f;
}
  
.mindfulness-top{
  font-family: 'Carter One', cursive;
  background: linear-gradient(10deg, #9774c3, #ff9f9f);
  padding: 1rem 5rem 1rem 5rem;
  color: #fff;
}

.mindfulness-h1{
  color: white;
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
  
}
.mindfulness-page-p{
  text-align: center;
}

.mindfulness-p + .mindfulness-p{
  padding-bottom: 2rem;
}

.container__video .main-video{
  border-radius: 5px;
  padding: 10px;
  background: #9774c3;
}

.container__video .main-video video{
  width: 100%;
  border: 5px;
}

.container__video .sidebar{
  border-radius: 5px;
  height: 44.5rem;
  overflow-y: scroll;
  background: #9774c3;
}

.container__video .sidebar::-webkit-scrollbar{
  width: 7px;
}

.container__video .sidebar::-webkit-scrollbar-track{
  border-radius: 50px;
}

.container__video .sidebar::-webkit-thumb{
  border: 50px;
}

.container__video .sidebar .vid video{
  width: 100%;
  border-radius: 5px;

}

.container__video .sidebar .vid{
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.container__video .sidebar .vid:hover{
  background: #ff9f9f;
}

.container__video .sidebar .vid.active{
  background:#ff9f9f;
}

/* mindfulness page breathing exercises */

 .breathing-Excercises-Container{
  margin-top: 5rem;
}


.breathing-exercises-section{
  background: #9774c3;
}

.breathing-exercises-header{
  background: #9774c3;
  font-family:  'Carter One', cursive;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper {
  width: 50rem;
}


.slide-img{
  width: inherit;
}


/* ----------- iPhone 6, 6S, 7 and 8 -----------

/* Portrait and Landscape */
/* @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape 
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}   */


/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 850px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    .containerImg > img {
      width: 80%;
      display: flex;
      margin: auto;
      padding: auto;
      box-shadow: 1px 1px 2rem rgb(0 0 0 / 30%);
    }

    .hero-top{
      display: flex;
      flex-direction: column-reverse;
      align-items: center;    
    }

    .hero h1 {
      font-family: caveat brush;
      padding: 1rem;
      font-size: 3em;
  }

  .hero__text {
    width: 80%;
    margin: 0 auto;
    padding: unset;
}
  



    .activities-content{
      background: #9774c3;
      border-top: solid 5px #ffe070;
      padding: 1rem;
      display: block;
    }

    .content-container{
      display: block;
      align-items: center;
    }

    .content-section{
      display: flex;
      align-items: center;
    }


    .content-section > p {
      text-align: center;
      line-height: 3rem;
      width: auto;
      padding-bottom: 1rem;
      color: #fff;
      margin: auto;
      font-family: 'Caveat Brush';
      font-size: larger;
    }

    .hero-bottom img{
      height: 11em;
      display: block;
      margin: auto;
    }

    .activities-h2{
      display: flex;
      justify-content: center;
      font-family: caveat brush;
      color: #fff;
      font-size: 2em;
      margin: inherit;
    }

    .mindfulness-content-container{
      display: block;
      justify-content: space-between;
      flex-direction: row-reverse;
      align-items: center;
    }

    .mindfulness-content{
      background: #ff9f9f;
      border-top: solid 5px #ffe070;
      padding: 1rem;
      display: block;
    }

    .mindfulness-h2{
      display: flex;
      justify-content: center;
      font-family: caveat brush;
      color: #fff;
      font-size: 2em;
      margin: inherit;
    }

    .mindfulness-p{
      text-align: center;
      align-items: center;
      display: flex;
      flex-direction: column;
    }

    .mindfulness-p > p {
      width: auto;
      line-height: 3rem;
      color: #fff;
      font-family: 'Caveat Brush';
      font-size: larger;
    }

    .tracker-h2{
    display: flex;
    justify-content: center;
    font-family: caveat brush;
    color: #fff;
    font-size: 2em;
    }

/* activities page */

.headings-container {
  display: flex;
  padding: 3rem;
  background: linear-gradient(10deg, #9774c3, #ff9f9f);
  flex-direction: column;
  align-items: center;
  border: solid 0px white;
  box-shadow: 1px 1px 2rem rgb(0 0 0 / 30%);
}

.headings {
  margin-top: 0;
  margin-bottom: 1rem;
  color: white;
  font-family: 'Carter One', cursive;
  font-size: inherit;
  text-align: center;
}


/* about page */

.services-container{
  flex-direction: column;
}

.services-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: fit-content;
  color: #d3ebfc;
  font-family: 'Carter One', cursive;
  font-size: larger;
}

.services-info > h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: larger;
}

.services-info > p {
  font-size: larger;
}

.about-header-content > p {
  text-align: justify;
  padding: 0.5rem;
  color: #9774c3;
  /* font-family: 'Caveat Brush'; */
  font-family: 'Carter One', cursive;
  font-weight: 900;
  font-size: large;
  line-height: 2rem;
  margin: 0 auto;
}

  }


  @media (max-width:991px) {
    .container__video{
      grid-template-columns: 1.5fr 2fr;
      padding: 10px;
    }
  }

  @media (max-width:768px) {
    .container__video{
      grid-template-columns: 1fr;
    }
  }